
.card {
  /* display: flex; */
  /* width: 100%; */
  border: 1px solid rgba(0, 0, 0, 0.35);
  /* padding: 1rem; */
  border-radius: .5rem;
  /* background-color: #f5f5f5; */
  margin: 0.5rem;
  box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.25);
  /* position: relative; */
  /* overflow: hidden; */
}

.card-content  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border: 1px solid rgba(172, 167, 167, 0.35);
  border-radius: .1rem;
}

.divide {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-text {
  font-weight: bolder;
}

.listDeep-text  {
  font-weight: normal;
  font-size: 13px;
  color: grey;
}

.listAction-text{
  font-weight: normal;
  font-size: 14.5px;
  color: grey;
}

.card-detail{
  background-color:#F2ECEB;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.4rem;
  /* padding-right: rem; */
}

.text-input{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loaders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: calc( 100vh - 60px);
}

.loader{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.column-1{
  width: 20%;
}
.column-2{
  width: 40%;
}
.column-3{
  width: 60%;
}
.column-4{
  width: 80%;
}
.column-5{
  width: 100%;
}

