*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.content {
  width: 100%;
}

nav{
  background-color: #0082e6;
  height: 64px;
  width: 100%;
  vertical-align: top;
}

label.logo{
  color: white;
  font-size: 2rem;
  line-height: 64px;
  font-weight: bolder;
  padding: 0 40px;
}

nav ul {
  float: right;
  margin-right: 10px;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  line-height: 57px;
  margin: 0 1px;
}

nav ul li a{
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 8px ;
  border-radius: 3px;
}

a:hover{
  background-color: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 18px;
  color: white;
  float: right;
  line-height: 58px;
  padding: 0 20px;
  /* margin-right: 40px; */
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.listName {
  display: none;
}

@media(max-width:1026px){
  label.logo{
    font-size: 2rem;
    /* padding: 10px; */
    /* color: white; */
  }

  .checkbtn,.listName {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: #2c3e50;
    top: 64px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: scroll;
  }

  nav ul li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover , a.active {
    background-color: none;
    color: #0082e6;
  }
  
  #check:checked ~ ul {
    left: 0;
  }
}

@media(max-width:952px){
  
  label.logo{
    font-size: 30px;
    /* padding: 10px; */
    /* color: white; */
  }

  .checkbtn , .listName {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 64px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: scroll;
  }

  nav ul li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover , a.active {
    background-color: none;
    color: #0082e6;
  }
  
  #check:checked ~ ul {
    left: 0;
  }
}


@media(max-width:858px){

  label.logo{
    font-size: 1.2rem;
    padding: 10px;
    /* color: white; */
  }

  .checkbtn , .listName {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 64px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: scroll;
  }

  nav ul li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }

  a:hover , a.active {
    background-color: none;
    color: #0082e6;
  }
  
  #check:checked ~ ul {
    left: 0;
  }

}